extends layout

block content
  h1 住所検索アプリケーション
  p 検索した住所を100件表示します。
  form(name="search-user", method="post", action="/list")
      div.input
          span.label 住所: 
          input(type="text", name="address", value=address)
          input(type="submit", value="検索")
          span (検索にかかった時間: #{elapsed} msec)
   table 
   thead
   tr
       th No
       th 姓
       th 名
       th 住所
   tbody
   - each user, index in users
     tr 
       td #{index + 1}
       td #{user.LastName}
       td #{user.FirstName}
       td #{user.Address}